<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <!-- DAO 대신 매퍼인터페이스를 사용하는 경우, 
      namespace 속성에 패키지이름이 포함된 인터페이스이름을 설정합니다-->
<mapper namespace="MyBoardDAOMapper">



<!-- 게시물 조회 - 검색-페이징 고려 -->
 	<select id="selectDAOMyBoardList" resultType="com.spring.mypro00.domain.MyBoardVO">
		<![CDATA[
			SELECT bno, btitle, bwriter, bregDate, bmodDate, bviewCnt, bdelFlag, breplyCnt 
			FROM ( SELECT /*+ index_desc(a PK_MYBOARD) */ rownum rn, bno, btitle, bwriter, bregDate, bmodDate, bviewCnt, bdelFlag, breplyCnt 
				   FROM tbl_myboard a
			       WHERE
		]]>

		<trim  prefix="("  suffix=") AND" prefixOverrides="OR" >
			<foreach collection="scopeArray" item="scope">
				<trim prefix="OR">
					<choose>
						<when test="scope=='T'.toString()">btitle LIKE '%' || #{keyword} || '%'</when>
						<when test="scope=='C'.toString()">bcontent LIKE '%' || #{keyword} || '%'</when>
						<when test="scope=='W'.toString()">bwriter LIKE '%' || #{keyword} || '%'</when>
					</choose>
				</trim>
			</foreach>
		</trim>		
		<![CDATA[			             
			       	  rownum <= ( #{pageNum} * #{rowAmountPerPage} )
			      ) 
			WHERE rn >= ( #{pageNum} * #{rowAmountPerPage} ) - ( #{rowAmountPerPage} -1 )		
		]]>
	</select>
	


<!-- 게시물 총 개수 조회(검색 - 페이징): 삭제 요청된 행 포함 -->
	<select id="selectDAORowAmtTotal" resultType="long">
		SELECT count(*) totalCnt FROM book_ex.tbl_myBoard	
		<where> 
			<trim  prefix="("  suffix=")" prefixOverrides="OR" >
				<foreach collection="scopeArray" item="scope">
					<trim prefix="OR">
						<choose>
							<when test="scope=='T'.toString()">btitle LIKE '%' || #{keyword} || '%'</when>
							<when test="scope=='C'.toString()">bcontent LIKE '%' || #{keyword} || '%'</when>
							<when test="scope=='W'.toString()">bwriter LIKE '%' || #{keyword} || '%'</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</where>	
	</select>

</mapper>